{% extends "@FOSUser/layout.html.twig" %}
{% block title %} {{ 'title.registration' | trans ({}, 'messages') }} {% endblock %}
{% block fos_user_content %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">

                    <div class="kc-elm kc-css-839835 kc-title-wrap  left dark">
                        <div class="title-wrapper">
                            <h3 class="kc_title">{{ 'registration.header' | trans({}, 'messages') | raw }}</h3>
                        </div>
                    </div>

                    <form method="post" action="{{ path('fos_user_registration_register') }}">

                        <div class="form-group">
                            {{ form_label(form.firstName, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.firstName, {'attr': {'class': 'margin-bottom-10'}}) }}
                            {{ form_errors(form.firstName)}}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.lastName, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.lastName, {'attr': {'class': 'margin-bottom-10'}}) }}
                            {{ form_errors(form.lastName)}}
                        </div>

                        <div class="form-group">

                            {{ form_label(form.email, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'margin-bottom-10'}}) }}
                            {{ form_errors(form.email)}}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.plainPassword.first, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'margin-bottom-10'}}) }}
                            {{ form_errors(form.plainPassword.first)}}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.plainPassword.second, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'margin-bottom-10'}}) }}
                            {{ form_errors(form.plainPassword.second)}}
                        </div>
                        <div class="register-form-sn-login text-center">
                            <a href="/login/facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            <a href="/login/google"><i class="fab fa-google" aria-hidden="true"></i></a>
                            <a href="/login/github"><i class="fab fa-github" aria-hidden="true"></i></a>
                        </div>
                        <input type="hidden" id="fos_user_registration_form_username" name="fos_user_registration_form[username]">
                        {{ form_widget(form._token) }}

                        <p class="text-center"><input type="submit" value="{{ 'registration.signup'|trans }}" class="wpcf7-form-control wpcf7-submit btn btn-primary btn-outline"><span class="ajax-loader"></span></p>

                        <div class="privacy text-center">
                            {{ 'registration.form_terms'|trans|raw }}
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <span class="error">{{ error.message }}</span>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block javascripts %}
    <script>
        $(function () {
            $("#fos_user_registration_form_email").change(function() {
                $("#fos_user_registration_form_username").val($("#fos_user_registration_form_email").val());
            })
        })
    </script>
{% endblock %}
