{% include 'common/mobile_header.html.twig' %}
<header id="apus-header" class="site-header header-v2 hidden-sm hidden-xs">
    <div id="apus-topbar" class="apus-topbar">
        <div class="container">
            <div class="topbar-inner clearfix">
                <div class="pull-left contact-topbar-2">
                    <aside id="text-7" class="widget widget_text">
                        <div class="textwidget">
                            <div class="contact">

                            </div>
                        </div>
                    </aside>
                </div>
                <div class="pull-right widget-social">
                    <ul class="top-user-menu">
                        {% if app.user %}
                                <li><img id="top-menu-avatar" src="{% if app.user.profilePicture %} {{ app.user.profilePicture }} {% else %}{{ asset(avatart_placeholder) }}{% endif %}" /></li>
                                <li>
                                    <div class="dropdown show">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ app.user.fullName }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="{{ path('user_profile_form') }}">{{ 'profile' | trans }}</a>
                                            <a class="dropdown-item" href="{{ path('user_about_form') }}">{{ 'user.about_menu_title' | trans }}</a>
                                            <a class="dropdown-item" href="{{ path('user_specialization_form') }}">{{ 'specialization.menu_title' | trans }}</a>
                                            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'logout' | trans }}</a>
                                        </div>
                                    </div>
                                </li>
                        {% else %}
                            <button id="myBtn" class="modal-btn-1"><i class="mn-icon-410"></i> Login</button>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main clearfix main-sticky-header-wrapper" style="height: 128px;">
        <div class="main-sticky-header">
            <div class="container">
                <div class="header-inner">
                    <div class="row">
                        <!-- LOGO -->
                        <div class="col-md-3">
                            <div class="logo-in-theme pull-left">
                                <div class="logo logo-theme">
                                    <a href="/">
                                        <img src="/assets/img/logo.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9 p-static">
                            <div class="main-menu pull-left">
                                <nav data-duration="400" class="hidden-xs hidden-sm apus-megamenu slide animate navbar">
                                    <div class="collapse navbar-collapse">
                                        <ul id="primary-menu" class="nav navbar-nav megamenu">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="{{ path('project_create_rules') }}">{{ 'project.menu_create' | trans }}</a></li>
                                            <li><a href="{{ path('user_projects_list') }}">{{ 'project.my_projects' | trans }}</a></li>
                                            <li><a href="service.html">Our Services</a></li>
                                            <li><a href="about.html">About us</a></li>
                                            <li><a href="contact.html">Contact us</a></li>
                                        </ul>

                                    </div>
                                </nav>
                            </div>
                            <div class="apus-search">
                                <button type="button" class="button-show-search button-setting"><i class="mn-icon-52"></i></button>
                            </div>
                            <div class="setting-popup pull-right">
                                <!-- The Modal -->
                                {% include 'common/login_modal.html.twig' %}

                            </div>
                        </div>
                    </div>
                    <div class="full-top-search-form">
                        <div class="apus-search-form">
                            <form action="#" method="get">
                                <div class="input-group">
                                    <input type="text" placeholder="Search" name="s" class="apus-search form-control">
                                    <button class="close-search-form" type="button">
                                        <i class="mn-icon-4"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>