<ul class="navbar-nav mr-sm-2">
    <li class="nav-item avatar">
        {% if app.user.profilePicture %}
            <img class="placeholder" src="{{ app.user.profilePicture }}">
        {% else %}
            <img class="real" src="{{ asset('images/avatar_placeholder.jpg') }}">
        {% endif %}
    </li>
</ul>
<ul class="navbar-nav mr-sm-2">
    <li class="nav-item menu-user-email dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ app.user.email }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('user_about_form') }}">{{  'profile'|trans }}</a>
            <a class="dropdown-item" href="{{ path('user_about_form') }}">{{  'user.about_menu_title'|trans }}</a>
            <a class="dropdown-item" href="{{ path('user_specialization_form') }}">{{  'specialization.menu_title'|trans }}</a>
            <a class="dropdown-item" href="{{ path('user_contacts_form') }}">{{  'contacts.menu_title'|trans }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">{{  'logout'|trans }}</a>
        </div>
    </li>
</ul>