{% extends 'base.html.twig' %}
{% block title %} {{ 'title.project_list' | trans }} {% endblock %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2 padding-bottom-5">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="kc-elm kc-title-wrap  left dark">
                    <div class="title-wrapper">
                        <h3 class="kc_title">{{ 'project.list' | trans | raw }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-section">
            <div class="row search-container">
                <form name="search-form" id="search-form" method="get" action="{{ path('projects_list') }}">
                    <div class=" col-md-offset-3 col-md-6 form-group">
                        <input type="text" name="query" placeholder="{{ 'search_placeholder' | trans }}" class="input-block projects-search-input" value="{% if searchQuery %}{{ searchQuery }}{% endif %}">
                    </div>
                    <div class="col-md-1 margin-left-1 padding-left-1">
                        <a href="#" onclick="$('#search-form').submit()" class="projects-search-button  hidden-xs hidden-sm"><i class="fas fa-search"></i></a>
                    </div>
                </form>
            </div>
        </div>

        {% if pagination is empty  %}
            <div class="no-projects-found">{{ 'project.no_one_found' | trans }}</div>
        {% endif %}

            {% for project in pagination %}
                {% include 'project/list/one_project.html.twig' with {'project': project} %}
            {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}