{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <div id="registration-container">
        <div class="row">
            <div class="offset-md-2 col-md-5 elevator-speech">
                <h1 class="text-white lh-condensed-ultra mb-3">{{ 'ProjectTitle'|trans }}</h1> {{ 'registration.description'|trans }}
                <h2 class="text-white lh-condensed-ultra mb-3">{{ 'registration.for_founders_title'|trans }}</h2>
                <p>{{ 'registration.for_founders_description'|trans }}</p>
                <h2 class="text-white lh-condensed-ultra mb-3">{{ 'registration.for_professionals_title'|trans }}</h2>
                <p>{{ 'registration.for_professionals_description'|trans }} </p>
            </div>
            <div class="col-md-3">
                <div class="register-form">
                    <form method="post" action="{{ path('fos_user_registration_register') }}">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                {{ form_label(form.firstName, 'registration.label_first_name'|trans, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.firstName, {'attr': {'class': 'form-control input-block'}}) }}
                                {{ form_errors(form.firstName)}}

                                {{ form_label(form.lastName, 'registration.label_last_name'|trans, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.lastName, {'attr': {'class': 'form-control input-block'}}) }}
                                {{ form_errors(form.lastName)}}

                                {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control input-block'}}) }}
                                {{ form_errors(form.email)}}

                                {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-block'}}) }}
                                {{ form_errors(form.plainPassword.first)}}

                                {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-block'}}) }}
                                {{ form_errors(form.plainPassword.second)}}
                                <div class="container register-form-sn-login">
                                    <a href="/connect/facebook" id="fb-root"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                </div>
                                <input type="hidden" id="fos_user_registration_form_username" name="fos_user_registration_form[username]">
                                {{ form_widget(form._token) }}
                                <div class="bottom-submit">
                                    <button type="submit" class="btn btn-primary btn-large btn-block">{{ 'registration.signup'|trans }}</button>
                                </div>
                                <div class="privacy">
                                    {{ 'registration.form_terms'|trans|raw }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <span class="error">{{ error.message }}</span>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block javascripts %}
    <script>
        $(function () {
            $("#fos_user_registration_form_email").change(function() {
                $("#fos_user_registration_form_username").val($("#fos_user_registration_form_email").val());
            })
        })
    </script>
{% endblock %}
