{% extends 'base.html.twig' %}
{% block title %} {{ 'title.index_page' | trans }} {% endblock %}
{% block body %}

    <div class="hidden-xs hidden-sm" style="background-color: #ffffff;">
        <div class="index-page-carousel">
            <div class="owl-carousel owl-theme">
                <div class="index-banner-item index-banner1">
                    <div class="index-banner-text-header index-banner-text1">TeamStarter</div>
                    <div class="index-banner-text-row index-banner-text2">Онлайн-платформа для поиска единомышленников и интересных стартапов</div>
                    <div class="index-banner-text-row index-banner-text3">Объединяемся в команды. Создаем проекты. <br/>Запускаем крутые стартапы. </div>
                    <div class="index-banner-text-row index-banner-text4">Не откладывай свои идеи.<br /> Начни реализовывать их прямо сейчас!
                    </div>
                    {% if not app.user %}<div class="index-banner-button"><a class="" href="{{ path('fos_user_registration_register') }}">{{ 'join_us' | trans }}</a></div>{% endif %}
                </div>

                <div class="index-banner-item index-banner2">
                    <div class="index-banner-text-header index-banner-text1">TeamStarter</div>
                    <div class="index-banner-text-row index-banner-text2">Если у тебя есть отличная идея, но нет денег на реализацию MVP</div>
                    <div class="index-banner-text-row index-banner-text3"><ul><li>Создай проект на TeamStarter</li> <li>Найди заинтересованных специалистов</li><li>Собери команду с горящими глазами</li></ul></div>
                    {% if not app.user %}<div class="index-banner-button"><a class="" href="{{ path('fos_user_registration_register') }}">Собери команду - это просто!</a></div>{% endif %}
                </div>

                <div class="index-banner-item index-banner3">
                    <div class="index-banner-text-header index-banner-text1">TeamStarter</div>
                    <div class="index-banner-text-row index-banner-text2">Если ты хочешь попробовать себя в новой роли в команде, тогда тебе точно на TeamStarter!</div>
                    <div class="index-banner-text-row index-banner-text3"><ul><li>Найди интересный проект</li> <li>Присоединись к нему</li><li>Получи ценный опыт работы на настоящем боевом проекте!</li></ul></div>
                    {% if not app.user %}<div class="index-banner-button"><a class="" href="{{ path('fos_user_registration_register') }}">{{ 'join_us' | trans }}</a></div>{% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class ="container">
        {% for project in projects %}
        <div class="row">
            <div class="col-sm-12">{% include 'project/list/one_project.html.twig' with {"project": project} %}</div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-12 text-center margin-bottom-30 margin-top-30">
                <a href="{{ path('projects_list') }}" class="link-button">{{ 'project.get_more_projects' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            var owl = $('.owl-carousel').owlCarousel({
                items:1,
                loop: true,
                nav:false,
                margin: 10,
                center: true,
                touchDrag: true,
                dots: true,
                autoplay: false,
                autoplayTimeout: 10000,
                autoplaySpeed: 500,
                onInitialized: function() {
                    $(".index-banner1 .index-banner-text-row").css("transform", "translatex(110px)");
                    $(".index-banner1 .index-banner-text-header").css("transform", "translatex(110px)");
                    $(".index-banner1 .index-banner-button").css("opacity", "1");
                }
            });

            owl.on('changed.owl.carousel', function(event) {
                $(".index-banner-item .index-banner-text").css("transform", "translatex(0px)");
                $(".index-banner-item .index-banner-button").css("opacity", "0");
                var page = event.item.index - 1;
                if(page == 0) {
                    page = 3;
                }
                $(".index-banner"+page+" .index-banner-text-row").css("transform", "translatex(110px)");
                $(".index-banner"+page+" .index-banner-text-header").css("transform", "translatex(110px)");
                $(".index-banner"+page+" .index-banner-button").css("opacity", "1");
            });
        });
    </script>
{% endblock %}
