{% extends 'base.html.twig' %}
{% block title %} {{ 'title.index_page' | trans }} {% endblock %}
{% block body %}

<div class="container-full">
    {% include 'common/index_page/carousel.html.twig' %}

    <div class="container-full">

        <h3 class="index-page margin-top-10 margin-bottom-10">{{ 'index_page.mission_title' | trans }}</h3>
        <div class="index-page-mission">{{ 'index_page.mission_body' | trans | raw }}</div>

        <div class="index-page-area margin-top-50">
            <div class="card-body">
                <h3 class="index-page margin-top-10 margin-bottom-10">{{ 'index_page.about_title' | trans }}</h3>
                <div class="index-page-about">
                    {{ 'index_page.about_body' | trans | raw }}
                    {% if not app.user %}
                        <p><a class="" href="{{ path('fos_user_registration_register') }}">Поэтому давайте
                                попробуем!</a></p>
                    {% endif %}
                </div>
            </div>
        </div>


        <h3 class="index-page margin-top-50">Как начать пользоваться</h3>
        <div class="index-page-switchers margin-top-10 margin-bottom-20">
            <a id="index-page-show-po" href="#null" class="index-page-switchers-active">Хочу создать проект</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                    id="index-page-show-specialist" href="#null">Хочу в команду</a>
        </div>
        <div class="row index-page-description index-page-description-po">
            <div class="col-md-3">


                <div class="card index-page-card index-page-card-hover" style="">
                    <div class="card-header"><img src="/images/index-page-filler.jpg"/>
                        <h3>Создай аккаунт</h3></div>
                    <div class="card-body">
                        <p class="card-text">При создании аккаунта у вас будет возможность проставить чекбокс «Хочу
                            найти партнера в свой
                            проект»</p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="card index-page-card index-page-card-hover">
                    <div class="card-header"><img src="/images/index-page-filler.jpg"/>
                        <h3>Создай свой проект</h3></div>
                    <div class="card-body">
                        <p class="card-text">После регистрации аккаунта, вы можете создать свой проект в разделе
                            «Добавить проект» Добавить основы
                            добавления проекта, например: «укажите стадию, на которой находится опубликовавший вакансию
                            стартап»</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card index-page-card index-page-card-hover" style="">
                    <div class="card-header"><img src="/images/index-page-filler.jpg"/>
                        <h3>Найди нужных специалистов и добавь их в команду проекта</h3></div>
                    <div class="card-body">
                        <p class="card-text">Найти единомышленников можно в разделе «Специалисты». Там вы можете
                            пригласить нужного специалиста в
                            проект, написав приветственное сообщение с помощью кнопки «Предложить сотрудничество» на
                            странице
                            просмотра профиля специалиста</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card index-page-card index-page-card-hover" style="">
                    <div class="card-header"><img src="/images/index-page-filler.jpg"/>
                        <h3>Ты великолепен!</h3></div>
                    <div class="card-body">
                        <p class="card-text">Продолжайте работу в команде и развивайте ваши идеи и навыки вместе!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row index-page-description index-page-description-specialist">
            <div class="col-md-3">
                <div class="card index-page-card index-page-card-hover" style="">
                    <div class="card-header"><img src="/images/index-page-filler.jpg"/>
                        <h3>Создай аккаунт и выбери свою роль</h3></div>
                    <div class="card-body">
                        <p class="card-text">При выборе роли ориентируйся на имеющиеся знания и навыки. На то, чем мог
                            бы был полезен команде!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card index-page-card index-page-card-hover">
                    <div class="card-header"><img src="/images/index-page-filler.jpg"/>
                        <h3>Ознакомься с проектами</h3></div>
                    <div class="card-body">
                        <p class="card-text">В разделе «Проекты» собраны имеющиеся проекты, которые нуждаются в команде,
                            с указанием стадии
                            проекта и свободными ролями!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card index-page-card index-page-card-hover" style="">
                    <div class="card-header"><img src="/images/index-page-filler.jpg"/>
                        <h3>Присоединись к проекту, который заинтересовал</h3></div>
                    <div class="card-body">
                        <p class="card-text">Просто отправь приветственное сообщение с помощью кнопки «Вступить в
                            команду» на странице просмотра
                            проекта, который наиболее подходит тебе по интересам и навыкам</p>
                        <p class="card-text">Найти ответ от основателя проекта и пообщаться с ним возможно в разделе
                            «Диалоги»</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card index-page-card index-page-card-hover" style="">
                    <div class="card-header"><img src="/images/index-page-filler.jpg"/>
                        <h3>Вы великолепны!</h3></div>
                    <div class="card-body">
                        <p class="card-text">Продолжайте работу в команде и развивайте ваши идеи и навыки вместе!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="index-page-faq margin-bottom-50">
                    <div class="index-page-area margin-top-50">
                        <div class="card-body">
                            <h3 class="index-page">FAQ</h3>
                            {% include 'common/index_page/faq.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="index-page-faq margin-bottom-50">
                    <div class="index-page-area margin-top-50">
                        <div class="card-body">
                            <h3 class="index-page">Проект недели</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(function () {
                //carousel
                var owl = $('.owl-carousel').owlCarousel({
                    items: 1,
                    loop: true,
                    nav: false,
                    margin: 10,
                    center: true,
                    touchDrag: true,
                    dots: true,
                    autoplay: true,
                    autoplayTimeout: 10000,
                    autoplaySpeed: 500,
                    onInitialized: function () {
                    }
                });

                $("#index-banner-nav-prev").click(function () {
                    owl.trigger('prev.owl.carousel');
                });

                $("#index-banner-nav-next").click(function () {
                    owl.trigger('next.owl.carousel');
                });

                // PO-Specialist switcher
                $("#index-page-show-po").click(function () {
                    $("#index-page-show-specialist").removeClass('index-page-switchers-active');
                    $("#index-page-show-po").addClass('index-page-switchers-active');
                    $(".index-page-description-po").css('display', "block");
                    $(".index-page-description-specialist").css('display', "none");
                });

                $("#index-page-show-specialist").click(function () {
                    $("#index-page-show-po").removeClass('index-page-switchers-active');
                    $("#index-page-show-specialist").addClass('index-page-switchers-active');
                    $(".index-page-description-specialist").css('display', "block");
                    $(".index-page-description-po").css('display', "none");
                });

                // Faq
                $(".index-page-faq-q").click(function (event) {
                    var el = $(this);
                    var answer = el.parent('.index-page-faq-item').find('.index-page-faq-a');

                    if (answer.css('display') === 'none') {
                        $(".index-page-faq-a").hide();
                        answer.show();
                    } else {
                        answer.hide();
                    }
                })
            });
        </script>
    {% endblock %}
