{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">
                    <form method="post" action="">
                        <div class="kc-elm kc-title-wrap  left dark">
                            <div class="title-wrapper">
                                <h3 class="kc_title">{{ 'user.about_title' | trans | raw }}</h3>
                            </div>
                        </div>

                        <p class="hint">{{ 'user.about_skip' | trans }}</p>


                        {% for message in app.flashes('about-success') %}
                            <div class="success-message">
                                {{ message }}
                            </div>
                        {% endfor %}


                        <div class="row"><div class="col-md-3 about-form-avatar">
                        {% if (app.user.profilePicture) %}
                        <img id="about-form-avatar" src="{{ app.user.profilePicture }}" />

                        {% else %}
                            <img id="about-form-avatar" src="{{ asset(avatart_placeholder) }}" />
                        {% endif %}
                            </div>
                        <div class="col-md-9">
                            <div id="fine-uploader">

                            </div>
                            <p class="upload-field-hint">{{ 'user.avatar_max_size_hint' | trans({'{size}': avatar_max_size/1000000}) }}</p>
                        </div></div>

                        <div class="row"> <div class="col-md-12 form-group">
                            {{ form_label(form.country, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.country, {'attr': {'class': 'input-block'}}) }}
                            {{ form_errors(form.country)}}
                        </div></div>
                        <div class="row"> <div class="col-md-12 form-group">
                            {{ form_label(form.city, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.city, {'attr': {'class': 'input-block'}}) }}
                            {{ form_errors(form.city)}}
                        </div></div>
                        <div class="row"> <div class="col-md-12 form-group">
                            {{ form_label(form.likeToDo, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.likeToDo, {'attr': {'class': 'input-block'}}) }}
                            {{ form_errors(form.likeToDo)}}
                        </div></div>
                        <div class="row"> <div class="col-md-12 form-group">
                            {{ form_label(form.expectation, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.expectation, {'attr': {'class': 'input-block'}}) }}
                            {{ form_errors(form.expectation)}}
                        </div></div>
                        <div class="row"> <div class="col-md-12 form-group">
                            {{ form_label(form.experience, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.experience, {'attr': {'class': 'input-block'}}) }}
                            {{ form_errors(form.experience)}}
                        </div></div>
                        <div class="row"> <div class="col-md-12 form-group">
                            {{ form_label(form.about, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                            {{ form_widget(form.about, {'attr': {'class': 'input-block'}}) }}
                            {{ form_errors(form.about)}}
                        </div></div>
                        <div class="row">
                            <div class="col-md-12 form-bottom">
                                {{ form_row(form._token) }}
                                {% if app.request.get('_route') == 'specify_about_form' %}
                                    <input type="submit" class="btn btn-primary btn-large" value="{{ 'submit'|trans }}">
                                    <input type="button" class="btn btn-default btn-warning" onclick="window.location.href = '{{ path('specify_about_form_skip') }}'" value="{{ 'user.about_skip_button'|trans }}">
                                {% else %}
                                    <input type="submit" class="btn btn-primary btn-large" value="{{ 'submit'|trans }}">
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            $("#fine-uploader").fineUploader({
                debug: {{ fineUploader.debug }},
                failedUploadTextDisplay: {
                    mode: 'custom',
                    responseProperty: 'error',
                },
                request: {
                    endpoint: '{{ path('specify_about_upload_avatar') }}'
                },
                callbacks: {
                    onUpload: function () {
                        $(".qq-upload-fail").remove();
                    },
                    onComplete: function(id, name, response) {
                        if(response.hasOwnProperty('picture')) {
                            $('#about-form-avatar').attr('src', response['picture']);
                        }
                    }
                }
            });
        });
    </script>

    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="">

            <div class="qq-upload-button-selector qq-upload-button">
                <input type="button" value="{{ 'user.profile_picture' | trans }}" class="btn btn-primary btn-outline">
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>
        </div>
    </script>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}