{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block body %}
    <div class="row">
        <div class="ts-form-container col-md-6 offset-md-3">
            <div class="ts-form">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2>{{ 'project.main_info' | trans }}</h2>
                        <form method="post" action="">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#null">{{ 'project.no_docs_button'|trans }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control input-block'}}) }}
                                    {{ form_errors(form.name, {'attr': {'class': 'error'}}) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_label(form.url, null, {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(form.url, {'attr': {'class': 'form-control input-block'}}) }}
                                    {{ form_errors(form.url, {'attr': {'class': 'error'}}) }}
                                </div>
                            </div>


                            <div class="row">
                                {{ form_row(form._token) }}
                                <div class="col-md-4 offset-md-2">
                                    <button type="button" onclick="window.location.href='{{ path('project_edit_name', {'project': project.id}) }}'" class="btn btn-primary btn-block">{{ 'project.back_button'|trans }}</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary btn-block">{{ 'project.next_button'|trans }}</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="error">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}