{% extends 'base.html.twig' %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">
                    <form method="post" action="">
                        <div class="kc-elm kc-title-wrap  left dark">
                            <div class="title-wrapper">
                                <h3 class="kc_title">{{ 'project.main_info' | trans | raw }}</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.name, {'attr': {'class': 'input-block', 'placeholder': 'project.form_name'}}) }}
                                {{ form_errors(form.name)}}
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.status, {'attr': {'class': 'input-block', 'placeholder': 'project.form_status'}}) }}
                                {{ form_errors(form.status)}}
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.country, {'attr': {'class': 'input-block', 'placeholder': 'project.form_country'}}) }}
                                {{ form_errors(form.country)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.city, {'attr': {'class': 'input-block', 'placeholder': 'project.form_city'}}) }}
                                {{ form_errors(form.city)}}
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.mission, {'attr': {'class': 'input-block', 'placeholder': 'project.form_mission'}}) }}
                                {{ form_errors(form.mission)}}
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.description, {'attr': {'class': 'input-block', 'placeholder': 'project.form_description', 'rows': 8}}) }}
                                {{ form_errors(form.description)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8 form-bottom">
                                {{ form_row(form._token) }}
                                <input type="submit" class="btn btn-primary btn-large" value="{{ 'project.next_button'|trans }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}