{% extends 'base.html.twig' %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">
                    <form method="post" action="">
                        <div class="kc-elm kc-title-wrap  left dark">
                            <div class="title-wrapper">
                                <h3 class="kc_title">{{ 'project.screenshots' | trans | raw }}</h3>
                            </div>
                        </div>

                        <div class="row margin-top-20">
                            <div class="col-md-12 project-screenshots">
                                {% for screen in project.screens %}
                                    <a href="{{ screen.screenshot }}" data-lightbox="{{ project.name }}"><img src="{{ screen.screenshot }}"/></a>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row margin-top-20">
                            <div class="col-md-offset-2 col-md-8 text-center">
                                <div id="uploader"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-offset-2 col-md-8 form-bottom margin-top-20">
                                <input type="button" class="btn btn-default btn-warning" onclick="window.location.href = '{{ path('project_edit_open_vacancies_list', {'project': project.id}) }}'" value="{{ 'project.back_button'|trans }}">
                                <input type="button" class="btn btn-default btn-warning" onclick="window.location.href = '{{ path('project_edit_screens', {'project': project.id}) }}'" value="{{ 'project.next_button'|trans }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        var uploader = new qq.FineUploader({
            element: document.getElementById("uploader"),
            debug: {{ fineUploader.debug }},
            failedUploadTextDisplay: {
                mode: 'custom',
                    responseProperty: 'error',
            },
            request: {
                endpoint: '{{ path('project_edit_upload_screens', {'project': project.id}) }}'
            },
            callbacks: {
                onUpload: function () {
                    $(".qq-upload-fail").remove()
                },
                onComplete: function(id, name, response) {
                    if(response.hasOwnProperty('picture')) {
//                       console.log(response['picture']);
                        $(".project-screenshots").append('<a href="'+response['picture']+'" data-lightbox="{{ project.name }}"><img src="'+response['picture']+'"/></a>');
                    }
                }
            }
        })
    });
</script>

    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader-screens" qq-drop-area-text="">

            <div class="qq-upload-button-selector qq-upload-button text-center" style="width: 100%">
                <a href="#null" >{{ 'project.add_screenshot' | trans }}</a>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>
        </div>
    </script>
{% endblock %}