{% extends 'base.html.twig' %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">
                    <form method="post" action="">
                        <div class="kc-elm kc-title-wrap  left dark">
                            <div class="title-wrapper">
                                <h3 class="kc_title">{{ 'project.open_vacancies' | trans | raw }}</h3>
                            </div>
                        </div>

                        {% for message in app.flashes('add-vacancy-success') %}
                            <div class="success-message">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {% for vacancy in vacanciesList %}

                            <div class="row vacancy-list">
                                <div class="col-sm-6">
                                    {{ vacancy.name }}
                                </div>
                                <div class="col-sm-3">
                                    {{ vacancy.specialization.title }}
                                </div>
                                <div class="col-sm-2">
                                    <input type="checkbox" class="vacancy-status-toggle" data-id="{{ vacancy.id }}" data-toggle="toggle" data-on="Open" data-off="Closed" {% if vacancy.vacant %}checked="checked"{% endif %}>
                                </div>
                                <div class="col-sm-1">
                                    <a href="{{ path('project_edit_open_vacancies_edit', {'project': project.id, 'vacancy': vacancy.id}) }}">{{ 'project.open_vacancies_edit_link' | trans }}</a>
                                </div>

                            </div>
                        {% endfor %}

                        <div class="row">
                            <div class="col-sm-12 text-center margin-top-25">
                                <a href="{{ path('project_edit_open_vacancies_add', {'project': project.id}) }}">{{ 'project.add_vacancy' | trans }}</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8 form-bottom margin-top-20">
                                <input type="button" class="btn btn-default btn-warning" onclick="window.location.href = '{{ path('project_edit_docs', {'project': project.id}) }}'" value="{{ 'project.back_button'|trans }}">
                                <input type="button" class="btn btn-default btn-warning" onclick="window.location.href = '{{ path('project_edit_docs', {'project': project.id}) }}'" value="{{ 'project.next_button'|trans }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        $('.vacancy-status-toggle').change(function() {
            var id = $(this).data('id');
            var checked = 0;
            if($(this).is(':checked')) {
                checked = 1;
            }
            $.post('/api/v1/vacancy/'+id+'/set-status', {status: checked})

        });
    });
</script>
{% endblock %}