{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block body %}
    <div class="row">
        <div class="ts-form-container col-md-6 offset-md-3">
            <div class="ts-form">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2>{{ 'user.about_profile' | trans }}</h2>

                        {% for message in app.flashes('profile-success') %}
                            <div class="success-message">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <form method="post" action="" enctype="multipart/form-data">
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.firstName, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.firstName)}}
                            </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.lastName, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.lastName)}}
                            </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.newPassword, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.newPassword, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.newPassword)}}
                            </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.oldPassword, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.oldPassword)}}
                                </div></div>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    {{ form_row(form._token) }}
                                    <button type="submit" class="btn btn-primary btn-large btn-block">{{ 'submit'|trans }}</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}