{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="ts-form-container col-md-6 offset-md-3">
            <div class="ts-form">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2>{{ 'project.project_name' | trans }}</h2>
                        <form method="post" action="">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control input-block'}}) }}
                                    {{ form_errors(form.name, {'attr': {'class': 'error'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    {{ form_row(form._token) }}
                                    <button type="submit" class="btn btn-primary btn-block">{{ 'project.next_button'|trans }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}