<article class="post">
    <div class="entry-content">
        <div class="entry-meta">
            <div class="info">
                <div class="meta margin-top-1">
                    <span class="date"><i class="mn-icon-1130"></i>{{ article.createdAt|localizeddate('short', 'none') }}</span>
                    {% if article.commentsCount > 0 %}
                        <span><a href="{{ path('blog_more', {'article': article.id}) }}#comments"><i class="far fa-comments"></i>{{ project.commentsCount }}</a></span>
                    {% endif %}
                </div>
                <div class="row"><div class="col-sm-12"><h4 class="entry-title"><a href="{{ path('blog_more', {'article': article.id}) }}">{{ article.title }}</a></h4></div></div>
            </div>
        </div>
        <div class="info-bottom">
            <div class="info-description">{{ markdown (article.text) | raw }}</div>
            <div class="margin-top-10"><a href="{{ path('blog_more', {'article': article.id}) }}">{{ 'more' | trans }}</a></div>
        </div>
    </div>
</article>