<div class="container"><div class="row margin-bottom-20">
        <div class="col-md-3 padding-left-60 text-right"><span class="profile-achievement">{{ 'achievements.junior_comments' | trans }}</span></div>
        <div class="col-md-9 margin-top-10">Пользователь оставил 5 или более комментариев</div>
</div></div>
<div class="container"><div class="row margin-bottom-20">
        <div class="col-md-3 padding-left-60 text-right"><span class="profile-achievement">{{ 'achievements.middle_comments' | trans }}</span></div>
        <div class="col-md-9 margin-top-10">Пользователь оставил 50 или более комментариев</div>
</div></div>
<div class="container"><div class="row margin-bottom-20">
        <div class="col-md-3 padding-left-60 text-right"><span class="profile-achievement">{{ 'achievements.senior_comments' | trans }}</span></div>
        <div class="col-md-9 margin-top-10">Пользователь оставил 100 или более комментариев</div>
</div></div>
<div class="container"><div class="row margin-bottom-20">
        <div class="col-md-3 padding-left-60 text-right"><span class="profile-achievement">{{ 'achievements.entrepreneur' | trans }}</span></div>
        <div class="col-md-9 margin-top-10">Пользователь опубликовал 1 проект</div>
</div></div>
<div class="container"><div class="row margin-bottom-20">
        <div class="col-md-3 padding-left-60 text-right"><span class="profile-achievement">{{ 'achievements.serial_entrepreneur' | trans }}</span></div>
        <div class="col-md-9 margin-top-10">Пользователь опубликовал 3 проекта</div>
</div></div>
<div class="container"><div class="row margin-bottom-20">
        <div class="col-md-3 padding-left-60 text-right"><span class="profile-achievement">{{ 'achievements.proactive' | trans }}</span></div>
        <div class="col-md-9 margin-top-10">Пользователь оставил комментарии более чем в 50 проектах</div>
</div></div>
