{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div id="myModal" class="modal modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 class="text-uppercase">{{ 'sign_in' | trans ({}, 'messages') }}</h2>
        </div>
        <div class="modal-body margin-top-40">
            <div id="modal-login-form-errors">

            </div>
            <form class="apus-login-form" action="{{ path("fos_user_security_check") }}" method="post" id="login-modal-form">

                <div class="form-group">
                    <input autocomplete="off" type="text" placeholder="{{ 'security.login.username'|trans }}" name="_username" class="form-control margin-bottom-35 login-form-input" id="username_or_email">
                </div>
                <div class="form-group">
                    <input name="_password" type="password" placeholder="{{ 'security.login.password'|trans }}" class="password required form-control login-form-input" id="login_password">
                </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group margin-top-30 checkbox-noanet-div">
                                <label class="checkbox-noanet-label">
                                    <input class="checkbox-noanet" type="checkbox" name="_remember_me" id="apus-user-remember" value="on"> &nbsp; {{ 'security.login.remember_me'|trans }}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p class="margin-top-30">
                                <a class="lost-pass" href="{{ path('fos_user_resetting_request') }}" class="back-link" title="Forgot Password">{{ 'user.lost_password' | trans({}, 'messages') }}</a>
                            </p>

                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="modal-login-social text-center">
                            <a href="/login/facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            <a href="/login/google"><i class="fab fa-google" aria-hidden="true"></i></a>
                            <a href="/login/github"><i class="fab fa-github" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>


                <div class="form-group padding-bottom-50 text-center">
                    <input id="modal-login-submit" type="submit" class="btn text-uppercase btn-sm btn-warning" name="submit" value="{{ 'security.login.submit'|trans }}">
                    <input type="button" class="btn text-uppercase btn-sm btn-default btn-cancel" name="cancel" value="{{ 'layout.register'|trans }}" onclick="window.location.href='{{ path('fos_user_registration_register') }}'">
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock fos_user_content %}