{% extends 'base.html.twig' %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">
                    <form method="post" action="">
                        <div class="kc-elm kc-title-wrap  left dark">
                            <div class="title-wrapper">
                                <h3 class="kc_title">{{ 'project.proposal_header' | trans | raw }}</h3>
                            </div>
                        </div>

                        {% for message in app.flashes('proposal-warning') %}
                            <div class="warning-message margin-bottom-10">{{ message }}</div>
                        {% endfor %}

                        <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.role, {'attr': {'class': 'input-block'}}) }}
                                {{ form_errors(form.role)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_widget(form.message, {'attr': {'class': 'input-block'}}) }}
                                {{ form_errors(form.message)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8 form-bottom">
                                {{ form_row(form._token) }}
                                <input type="submit" class="btn btn-primary btn-large" value="{{ 'project.next_button'|trans }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

{% endblock %}