{% extends 'base.html.twig' %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2 padding-bottom-5">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="kc-elm kc-title-wrap  left dark">
                    <div class="title-wrapper">
                        <h3 class="kc_title">{{ project.name | raw }}</h3>
                    </div>
                </div>
            </div>
        </div>



                <article class="post">
                    <div class="entry-content">
                        <div class="entry-meta">
                            <div class="info">
                                <div class="meta margin-top-1">
                                    <span class="date"><i class="mn-icon-1130"></i>{{ project.createdAt|date('F d, Y') }}</span>
                                    <span class="date"><i class="fas fa-user-tie"></i>{{ project.user.getFullName() }}</span>
                                    <span><i class="mn-icon-132"></i>{{ project.status.name }}</span>
                                    {% if project.city %}
                                        <span><i class="fas fa-map-marker"></i>{{ project.city }}{% if project.country%}, {{ project.country}}{% endif %}</span>
                                    {% elseif project.country%}
                                        <span><i class="fas fa-map-marker"></i>{{ project.country }}</span>
                                    {% endif %}
                                    {% if project.screens | length > 0 %}<span><i class="far fa-image"></i>Screenshots</span>{% endif %}
                                </div>
                                <div class="row"><div class="col-sm-12"><h4 class="entry-title"><a href="#">{{ project.name }}</a></h4></div></div>
                            </div>
                        </div>
                        <div class="info-bottom">
                            <div class="info-description-title">{{ 'project.form_mission' | trans }}</div>
                            <div class="info-description">{{ project.mission }}</div>
                            <div class="info-description-title">{{ 'project.form_description' | trans }}</div>
                            <div class="info-description">{{ project.description }}</div>
                            <div class="info-description-title">{{ 'project.open_roles' | trans }}</div>
                            <div class="row">
                            <div class="info-description col-md-6">
                                <ul class="project-card-roles">
                                    {% for role in project.openRoles %}
                                        {% if role.vacant %}
                                            <li>
                                                <i class="fas fa-door-open"></i><a href="#null" onclick="expandRole({{ role.id }})">{{ role.name }}</a>
                                                <div style="display: none" class="project-card-role" id="project-card-role-{{ role.id }}">
                                                    {{ role.description }}
                                                    {% if role.skills %}
                                                        <div>
                                                            {% for roleSkill in role.skills %} <span class="badge project-card-role-tag">{{ roleSkill.skill.title }}</span> {% endfor %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul><div style="clear: both"></div></div>
                                <div class="info-description col-md-6 form-section">
                                    <input type="button" class="btn btn-default btn-warning blue" value="{{ 'project.submit_proposal_button' | trans }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function expandRole (roleId) {
            $('#project-card-role-'+roleId).toggle();
        }
    </script>
{% endblock %}