{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block body %}
    <div class="row">
        <div class="ts-form-container col-md-6 offset-md-3">
            <div class="ts-form">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2>{{ 'user.about_title' | trans }}</h2>
                        <p class="hint">{{ 'user.about_skip' | trans }}</p>
                        <form method="post" action="" enctype="multipart/form-data">
                            <div class="row">
                            {% if (app.user.profilePicture) %}
                                <div class="col-md-2 about-form-avatar"><img src="{{ app.user.profilePicture }}" /></div>
                                <div class="col-md-10">
                            {% else %}
                                    <div class="col-md-12">
                            {% endif %}
                            {{ form_label(form.profilePicture, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.profilePicture, {'attr': {'class': 'form-control input-block about-form-avatar-input'}}) }}
                            {{ form_errors(form.profilePicture, {'attr': {'class': 'error'}}) }}
                            </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.country, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.country, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.country)}}
                            </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.city, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.city, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.city)}}
                            </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.likeToDo, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.likeToDo, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.likeToDo)}}
                            </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.expectation, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.expectation, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.expectation)}}
                                </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.experience, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.experience, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.experience)}}
                                </div></div>
                            <div class="row"> <div class="col-md-12">
                            {{ form_label(form.about, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.about, {'attr': {'class': 'form-control input-block'}}) }}
                            {{ form_errors(form.about)}}
                                </div></div>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    {{ form_row(form._token) }}
                                    {% if app.request.get('_route') == 'specify_about_form' %}
                                        <button type="submit" class="btn btn-primary btn-large">{{ 'submit'|trans }}</button>
                                        <button type="button" class="btn btn-default btn-warning" onclick="window.location.href = '{{ path('specify_about_form_skip') }}'">{{ 'user.about_skip_button'|trans }}</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary btn-large btn-block">{{ 'submit'|trans }}</button>
                                    {% endif %}
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>


    </script>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}