{% extends 'base.html.twig' %}
{% block title %} {{ 'title.user_projects' | trans }} {% endblock %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="kc-elm kc-title-wrap  left dark">
                        <div class="title-wrapper">
                            <h3 class="kc_title">{{ 'project.my_list' | trans | raw }}</h3>
                        </div>
                    </div>

                    {% for message in app.flashes('project-saved') %}
                        <div class="success-message">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for project in projectsList %}

                        <div class="row role-list">
                            <div class="col-sm-5">
                                {% if project.progressStatus == constant('App\\Entity\\Project::STATUS_PUBLISHED') %}
                                    <a href="{{ path('project_more', {'project': project.id}) }}">{{ project.name }}</a>
                                {% else %}
                                    {{ project.name }}
                                {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <span class="alert project-list-status project-list-status-{{ project.progressStatus }}">{{ project.progressStatus | trans }}</span>
                            </div>

                            <div class="col-sm-2">
                                {{ project.createdAt|localizeddate('short') }}
                            </div>

                            <div class="col-sm-3">
                                <a class="table-list-actions" href="{{ path('project_edit_name', {'project': project.id}) }}">{{ 'project.edit_link' | trans }}</a>
                                {% if project.progressStatus == constant('App\\Entity\\Project::STATUS_PUBLISHED') %}
                                    <a class="table-list-actions" href="{{ path('project_edit_close', {'project': project.id}) }}">{{ 'project.close_link' | trans }}</a>
                                {% endif %}
                                {% if project.progressStatus == constant('App\\Entity\\Project::STATUS_CLOSED') %}
                                    <a class="table-list-actions" href="{{ path('project_edit_reopen', {'project': project.id}) }}">{{ 'project.open_link' | trans }}</a>
                                {% endif %}
                                {% if project.progressStatus == constant('App\\Entity\\Project::STATUS_DECLINED') %}
                                    <a class="table-list-actions" href="{{ path('project_edit_remoderate_declined', {'project': project.id}) }}">{{ 'project.remoderate_link' | trans }}</a>
                                    <a class="table-list-actions" href="{{ path('user_projects_moderator_comments', {'project': project.id}) }}">{{ 'project.declined_comments_link' | trans }}</a>
                                {% endif %}


                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}