{% extends 'base.html.twig' %}
{% form_theme form _self %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">

            <div class="form-section">
                <div class="col-sm-8 col-sm-offset-2">
                    <form method="post" action="">
                        <div class="kc-elm kc-title-wrap  left dark">
                            <div class="title-wrapper">
                                <h3 class="kc_title">{{ 'project.main_info' | trans | raw }}</h3>
                            </div>
                        </div>

                        {% for message in app.flashes('project-warning') %}
                            <div class="warning-message margin-bottom-10">{{ message }}</div>
                        {% endfor %}

                        <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_label(form.name, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.name, {'attr': {'class': 'input-block'}}) }}
                                {{ form_errors(form.name)}}
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_label(form.status, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.status, {'attr': {'class': 'input-block'}}) }}
                                {{ form_errors(form.status)}}
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_label(form.country, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.country, {'attr': {'class': 'input-block'}}) }}
                                {{ form_errors(form.country)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_label(form.city, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.city, {'attr': {'class': 'input-block'}}) }}
                                {{ form_errors(form.city)}}
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_label(form.mission, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.mission, {'attr': {'class': 'input-block'}}) }}
                                {{ form_errors(form.mission)}}
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-12 form-group">
                                {{ form_label(form.description, '', {'label_attr': {'class': 'bmd-label-floating'}}) }}
                                {{ form_widget(form.description, {'attr': {'class': 'input-block', 'rows': 8}}) }}
                                {{ form_errors(form.description)}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-8 form-bottom">
                                {{ form_row(form._token) }}
                                <input type="submit" class="btn btn-primary btn-large" value="{{ 'project.next_button'|trans }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="error">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}