{% extends 'base.html.twig' %}
{% block title %} {{ 'title.project_create_rules' | trans }} {% endblock %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2">
            <div class="form-section">
                <div class="col-sm-12 col-sm-offset-0">
                    <div class="kc-elm kc-title-wrap  left dark">
                        <div class="title-wrapper">
                            <h3 class="kc_title">{{ 'project.project_rules' | trans | raw }}</h3>
                        </div>
                    </div>
                    {{ rulesText | raw}}

                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 form-bottom">
                                <input type="button" class="btn btn-default btn-warning" onclick="window.location.href = '{{ path('project_create_name') }}'" value="{{ 'project.agree_button'|trans }}">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



{% endblock %}