{% extends 'base.html.twig' %}
{% block title %} {{ 'title.specialists_list' | trans }} {% endblock %}
{% block body %}
    <div class ="container">
        <div class="row section-content-2 padding-bottom-5">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="kc-elm kc-title-wrap  left dark">
                    <div class="title-wrapper">
                        <h3 class="kc_title">{{ 'specialists.list_title' | trans | raw }}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-section">
            <div class="row search-container">
                <form name="search-form" id="search-form" method="get" action="{{ path('specialists_list') }}">
                    <div class=" col-md-offset-3 col-md-6 form-group">
                        <input type="text" name="query" placeholder="{{ 'search_placeholder' | trans }}" class="input-block projects-search-input" value="">
                    </div>
                    <div class="col-md-1 margin-left-1 padding-left-1">
                        <a href="#" onclick="$('#search-form').submit()" class="projects-search-button"><i class="fas fa-search"></i></a>
                    </div>
                </form>
            </div>
        </div>


        <div class="pro-access-error">{{ 'pro.specialists_list_access_denied' | trans | raw }}</div>
        <div class="pro-access-buttons">
            {% include 'common/pro/button_buy_pro.html.twig' %}
            {% include 'common/pro/button_add_project.html.twig' %}
        </div>

    </div>
{% endblock %}